@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic);

body {
  margin: 0;
  padding: 0;
}

.sp-toolbar {
  width: 100%;
  background-color: #09C;
  color: white;
  overflow: hidden;
}

.sp-title {
  margin: 0.5em;
  float: left;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #000;
  text-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px;
}

.sp-pattern-selector {
  float: right;
  margin-top: 1.5em;
  margin-right: 1.5em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
}

.sp-main-wrapper {
  padding: 1em;
}

.sp-defaults {
  padding: .5em .3em;
  font-family: 'Playfair Display', serif;
}

.sp-defaults h2 {
  font-weight: 400;
}

.sp-pattern-placeholder > pre {
  background: #333;
  border-radius: .5em;
  border: 1px solid #ddd;
  color: #fff;
  overflow-x: scroll;
  padding: .5em .3em;
}

.sp-colors {
  width: 100%;
  overflow: hidden;
}

.sp-color-block {
  float: left;
  width: 80px;
  height: 80px;
  border: 10px solid #ECECEC;  
  margin-right: 10px;
  position: relative;
}

.sp-color-code {
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000000;
  font-weight: bold;
  font-family: 'Courier New', Courier, 'Nimbus Mono L', serif, monospace;
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
  padding: 4px 0;
  text-transform: uppercase;
}

/* -------------------------------------------------------------------------
 Projects Specifics
---------------------------------------------------------------------------- */
.sp-font-family-1 {
  font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
}

.sp-font-family-2 {
  font-family: Verdana, Arial, sans-serif;  
}

.sp-color-1 {
  background-color: #000000;
}

.sp-color-2 {
  background-color: #FFFFFF; 
}

.sp-color-3 {
  background-color: #FF6600;
}

.sp-color-4 {
  background-color: #3C3C3C;
}

.sp-color-5 {
  background-color: #f3f8fb;
}

/* -------------------------------------------------------------------------
 Prettyprint
---------------------------------------------------------------------------- */
.prettyprint {
  font-family: 'Ubuntu Mono', sans-serif;
  font-size: 0.875em;
}
.pln {
  color: #fff;
}

/* plain text */
@media screen {
  .str,
  .string {
    color: #E6DB74;
  }

  /* string content */
  .kwd,
  .keyword {
    color: #66D9EF;
  }

  /* a keyword */
  .com,
  .comment {
    color: #75715E;
  }

  /* a comment */
  .typ {
    color: #A6E22E;
  }

  /* a type name */
  .lit,
  .number {
    color: #AE81FF;
  }

  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  /* .pun, .opn, .clo { color: #660 } */
  .tag {
    color: #F92672;
  }

  /* a markup tag name */
  .atn {
    color: #A6E22E;
  }

  /* a markup attribute name */
  .atv {
    color: #E6DB74;
  }

  /* a markup attribute value */
  /*.dec, .var { color: #606 }*/
  /* a declaration; a variable name */
  .fun {
    color: #FF0000;
  }

  /* a function name */
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #060;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #044;
  }

  .pun,
  .opn,
  .clo {
    color: #440;
  }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #404;
  }

  .atv {
    color: #060;
  }
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  border-left: 1px solid #444;
  margin: 0 0 0 3.3em;
  /* IE indents via margin-left */
  padding: 0;
}

ol.linenums li {
  color: #bebec5;
  line-height: 1.5;
  padding-left: .8em;
}

/* -------------------------------------------------------------------------
 Scrollbars
---------------------------------------------------------------------------- */
::-webkit-scrollbar {
  height: 14px;
  width: 14px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.15);
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.1);
}

/* -------------------------------------------------------------------------
 Legacy IE
---------------------------------------------------------------------------- */
/**
 * IE 7 Fixes
 */
.sg-color {
  *display: inline;
  zoom: 1;
}

/* End IE 7 Fixes */
/**
 * IE 6 Fixes
 */
pre {
  _white-space: pre;
  _white-space: pre-wrap;
  _word-wrap: break-word;
}

/* End IE 6 Fixes */
