body {
  margin: 0;
  padding: 0;
}
.sp-toolbar {
  width: 100%;
  background-color: teal;
  color: white;  
  overflow: hidden;
}
.sp-title {
  margin: 0.5em;
  float: left;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
}
.sp-pattern-selector {
  float: right;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
}

.sp-main-wrapper {
  padding: 1em;
}

.sp-pattern-placeholder > pre {
  background: #333;
  border-radius: .5em;
  border: 1px solid #ddd;
  color: #fff;
  overflow-x: scroll;
  padding: .5em .3em;  
}

/* -------------------------------------------------------------------------
 Prettyprint
---------------------------------------------------------------------------- */
.pln {color: #fff} /* plain text */

@media screen {
  .str,
  .string {color: #E6DB74;} /* string content */
  
  .kwd,
  .keyword {color: #66D9EF;} /* a keyword */
  
  .com,
  .comment {color: #75715E;} /* a comment */
  
  .typ {color: #A6E22E;} /* a type name */
  
  .lit,
  .number {color: #AE81FF;} /* a literal value */
  
  /* punctuation, lisp open bracket, lisp close bracket */
  /* .pun, .opn, .clo { color: #660 } */
  
  .tag {color: #F92672;} /* a markup tag name */
  
  .atn {color: #A6E22E;} /* a markup attribute name */
  
  .atv {color: #E6DB74;} /* a markup attribute value */
  
  /*.dec, .var { color: #606 }*/ /* a declaration; a variable name */
  
  .fun {color: #FF0000;} /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {color: #060}

  .kwd {color: #006; font-weight: bold }
  
  .com {color: #600; font-style: italic }
  
  .typ {color: #404; font-weight: bold }
  
  .lit {color: #044}
  
  .pun, 
  .opn, 
  
  .clo {color: #440}
  
  .tag {color: #006; font-weight: bold }
  
  .atn {color: #404}
  
  .atv {color: #060}
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  border-left:1px solid #444;
  margin: 0 0 0 3.3em; /* IE indents via margin-left */
  padding: 0;
}

ol.linenums li {
  color: #bebec5;
  line-height: 1.5;
  padding-left: .8em;
}


/* -------------------------------------------------------------------------
 Scrollbars
---------------------------------------------------------------------------- */
::-webkit-scrollbar {
  height: 14px;
  width: 14px;
}
 
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.1); 
  -webkit-border-radius: 7px;
          border-radius: 7px;
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0);
          box-shadow: inset 0 0 8px rgba(0,0,0,0); 
}
 
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.3);
  border: 1px solid rgba(255,255,255,0.15);
  -webkit-border-radius: 7px;
          border-radius: 7px; 
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0);
          box-shadow: inset 0 0 8px rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.1); 
}


/* -------------------------------------------------------------------------
 Legacy IE
---------------------------------------------------------------------------- */
/**
 * IE 7 Fixes
 */
.sg-color {
  *display: inline;
  zoom: 1;
}
/* End IE 7 Fixes */


/**
 * IE 6 Fixes
 */
pre{
  _white-space: pre;
  _white-space: pre-wrap;
  _word-wrap: break-word;
}
/* End IE 6 Fixes */